body{
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 15px;
    margin: 0;
    color: #181b1c;
    background-color: #FAEDCB;
    line-height: 1.6;
}

header{
    background-color: #89B0AE ;
    padding: 20px;
}

h1{
    text-align: center;
    color: #181b1c;
    font-size: 45px;
}

nav{
    background-color: #E07A5F;
    text-align: center;
    margin: 0 auto;
    padding: 15px; 

}

a{
    font-size: 20px; 
    color: #FAEDCB;
    padding: 12px;
}
h2{
    color: #E07A5F;
}


main{
    text-align: left;
    color: #181b1c;
    padding: 20px 300px;
}

.catTitle{
    text-align: center;

}

footer{
    text-align: center;
    background-color:#89B0AE ;
    color: #181b1c;
    padding: 10px;

}

.cats{
    display: flex;
}

.cat{
    margin: 20px auto;
}

/* ==== welcome PAGE==== */

.idex-first-row{
    display: flex;
}

.index-first-col{
    margin:0 auto;
    padding:10px; 
}

.index-sec-row{
    display: flex;
}

.index-sec-col{
    margin: 0 auto;
    padding: 10px 30px;
}
/* ==== interest pg ==== */

.interest-first-row{
    display: flex;
}

.interest-first-col{
    margin: 0 auto;
    padding: 10px 30px;
}

.interest-sec-row{
    margin: 0 auto;
    padding: 10px 200px;
}


.ref-list{
    text-align: left;
    margin: 0px 300px;
    line-height: 1.8;
    padding: 10px;
}

/* ==== ideal job pg ==== */

.project-first-row{
    margin: 0 auto;
    padding: 10px 250px;
}

.project-sec-row{
    display: flex;
}

.project-sec-col{
    padding: 10px;
    margin: 10px;
    border: solid 4px #89B0AE;
    text-align: center;
}


.project-third-col{
    padding: 10px;
    margin: 20px 300px;
    border: solid 4px #E07A5F;
    text-align: center;
}

.project-four-row{
    display: flex;
}

.project-four-col{
    margin: 0 auto;
    padding: 10px 30px;
}


/* ==== personal profil pg ==== */

/* ==== project idea pg ==== */